*.pyc
*.asv
*.aux
*.log
*.gz
~$*
\~\$*
*.out
*.snm
*.toc
*.m~
*.orig
*.lof
*.blg
*.bbl
*.key.gz
dronarch/helpers/mail_nick.py
*/.directory
agisoft/
report/models/
report/imgs/amphi_ortho_plan*
report/imgs/amphi_ortho_comb.xcf
external/