#various bin pathes. Add / in the end. Example: /home/niclas/code/dronarch/bundler_sfm/bin/
base_dir = /home/niclas/code/dronarch/project/

bundler_bin_dir = /home/niclas/code/dronarch/bundler_sfm/bin/
cmvs_bin_dir = /home/niclas/code/dronarch/vsfm/cmvs/program/main/
pmvs_bin_dir = /home/niclas/code/dronarch/vsfm/pmvs-2/program/main/

vid_calib_img_dir = /home/niclas/code/dronarch/project/vid_calib/
img_calib_img_dir = /home/niclas/code/dronarch/project/img_calib/
calib_file_path = /home/niclas/code/dronarch/project/config/calib_file.cfg

# configuration for video frame extraction
vid_imgs_per_sec = 2
vid_start_frame = 5
vid_no_images = 2

#image params
#img_max_size has to be less than 4000 each
img_max_size = (3800,3800)

#Bundler
bundler_match_radius=2000
bundler_init_imgs = (13,16)

#PMVS
#pmvs_no_clusters=20
pmvs_level=1
pmvs_csize=1
pmvs_threshold=0.8
pmvs_wsize=20
pmvs_minImageNum=3

#Run configuration
do_bundler=0
do_calibration=0
do_bundler_2_pmvs=0
do_pmvs=1
use_old_data=1

#email
send_email=1

